{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

{% if session.get("user") %}

<div class="d-flex flex-column align-items-center">
    <a class="btn btn-success" href="{{ url_for('form') }}">
        <i class="bi bi-door-closed"></i>
        Sign In/Out
    </a>
</div>

{% else %}

<div class="d-flex flex-column align-items-center">
    <a class="btn btn-success" href="{{ url_for('login') }}">
        <i class="bi bi-box-arrow-in-right"></i>
        Log In
    </a>
</div>

{% endif %}

{% endblock %}
